#ifndef APP_SECRETS_H_EXAMPLE_
#define APP_SECRETS_H_EXAMPLE_

/* Placeholder LoRaWAN credentials (replace with real values in secrets.h) */
#define LORAWAN_DEV_ADDR		0x00000000
#define LORAWAN_DEV_EUI		{ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00 }
#define LORAWAN_APP_SKEY		{ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00, 0x00, 0x00 }
#define LORAWAN_NWK_SKEY		{ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00, 0x00, 0x00 }
#define LORAWAN_APP_EUI		{ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,\
				  0x00, 0x00 }

#endif /* APP_SECRETS_H_EXAMPLE_ */
